<md-sidenav-container [class.m2app-dark]="isDarkTheme">

<md-sidenav #sidenav mode="side" class="app-sidenav">
  <stg-sidebar></stg-sidebar>
</md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    Sigma Tau Gamma - Beta Alumni

    <span class="app-toolbar-filler"></span>
    <!-- <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button> -->
  </md-toolbar>

<main>
  <router-outlet></router-outlet>
  <!-- Routed views go here -->
</main>


  <stg-footer></stg-footer>
</md-sidenav-container>
