.about {
  flex-wrap: wrap;
}
.about .flex-header{
  flex: 1 1 100%;
}
.about #info-links {
  flex: 1 1 100%;
  margin-top: 2em;
}
.about aside {
  flex: 1 1 100%;
}
.about a {
  color: #cc6600;
}

@media (min-width: 768px ) {
  .about #info-links {
    flex: 1 1 80%;
  }
  .about aside {
    flex: 1 1 20%;
  }
}
