<h2>Active Chapter Newsletters</h2>

<md-nav-list>
  <md-list-item>
    <p>Fall 2016 Newsletter</p>
    <button md-raised-button href="http://q.b5z.net/i/u/10103480/f/Newsletter_Final.pdf">View</button>
  </md-list-item>
  <md-list-item>
    <p>Fall 2015 Newsletter</p>
    <button md-raised-button href="http://q.b5z.net/i/u/10103480/f/Fall__15_Newsletter_1.pdf">View</button>
  </md-list-item>
  <md-list-item>
    <p>Fall 2014 Newsletter</p>
    <button md-raised-button href="http://q.b5z.net/i/u/10103480/f/Fall_2014_-_Newsletter__Final_.pdf">View</button>
  </md-list-item>
  <md-list-item>
    <p>Spring 2014 Newsletter</p>
    <button md-raised-button href="http://q.b5z.net/i/u/10103480/f/Beta_NEWSLETTER_2014.pdf">View</button>
  </md-list-item>
  <md-list-item>
    <p>January 2014 Newsletter</p>
    <button md-raised-button href="http://q.b5z.net/i/u/10103480/f/AlumniNewsletterJan14.pdf">View</button>
  </md-list-item>
  <md-list-item>
    <p>Winter 2012 Newsletter</p>
    <button md-raised-button href="http://q.b5z.net/i/u/10103480/f/Alumni_Winter_Newsletter_Dec2012.pdf">View</button>
  </md-list-item>
  <md-list-item>
    <p>Fall 2012 Newsletter</p>
    <button md-raised-button href="http://q.b5z.net/i/u/10103480/f/ALUMNI_NEWS_LETTER.pdf">View</button>
  </md-list-item>
  <md-list-item>
    <p>Beta Newsletter Summer 2011</p>
    <button md-raised-button href="http://q.b5z.net/i/u/10103480/f/Beta_Nws_3-20111.doc">View</button>
  </md-list-item>
  <md-list-item>
    <p>Spring 2011 Beta Alumni Newsletter</p>
    <button md-raised-button href="http://q.b5z.net/i/u/10103480/f/Beta_Nws_2-2011.pdf">View</button>
  </md-list-item>
  <md-list-item>
    <p>Winter 2011 Newsletter</p>
    <button md-raised-button href="http://q.b5z.net/i/u/10103480/f/TheBetaWinter2011newsletter.doc">View</button>
  </md-list-item>
</md-nav-list>
