<ul class="sidebar">
  <li>
    <a routerLink="/" routerLinkActive="active">Home</a>
  </li>
  <li>
    <a routerLink="/about" routerLinkActive="active">About</a>
  </li>
  <li>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </li>
  <li>
    <a routerLink="/pay-rent" routerLinkActive="active">Pay Rent</a>
  </li>
  <li>
    <a routerLink="/alumni" routerLinkActive="active">Alumni</a>
  </li>
  <li>
    <a routerLink="/newsletters" routerLinkActive="active">Newsletters</a>
  </li>
</ul>
