<form class="rent-form">
  <md-input-container class="full-width">
    <input mdInput type="text" placeholder="First name">
  </md-input-container>
  <md-input-container class="full-width">
    <input mdInput type="text" placeholder="Last name">
  </md-input-container>
  <p>
    <md-input-container class="full-width">
      <input mdInput type="text" placeholder="Address" >
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput type="text" placeholder="Address 2">
    </md-input-container>
  </p>
  <table class="full-width" cellspacing="0"><tr>
    <td><md-input-container class="full-width">
      <input mdInput type="text" placeholder="City">
    </md-input-container></td>
    <td><md-input-container class="full-width">
      <input mdInput type="text" placeholder="State">
    </md-input-container></td>
    <td><md-input-container class="full-width">
      <input mdInput type="text" #postalCode maxlength="5" placeholder="Postal Code" value="94043">
      <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
    </md-input-container></td>
  </tr></table>
</form>
