body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.content {
  margin: 0 auto;
  width: 95%;
}

/* app -- REMOVE */

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  margin: 0;
  color: white;
  text-align: center;
}

.flex {
  display: flex;
}
.flex-half {
  flex-grow: 1;
  flex-Shring: 1;
  flex-basis: 50%;
}


/* login buttons*/

button:hover,
input[type=submit]:hover,
button:focus,
input[type=submit]:focus {
  color: #fff;
  outline: 0;
}
button.google,
input[type=submit].google,
button.facebook,
input[type=submit].facebook,
button.twitter,
input[type=submit].twitter,
button.logout,
input[type=submit].logout  {
  border: 0;
  display: inline-block;
  margin-bottom: 2rem;
  color: #fff;
  padding: 1rem;
}
button.google,
input[type=submit].google {
  background: #db3236;
}
button.facebook,
input[type=submit].facebook {
  background: #3864a3;
}
button.twitter,
input[type=submit].twitter {
  background: #5ea9dd;
}
button:active {
  transition: transform 0.2s ease;
  transform: translateY(1px);
}
